@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #dde3ef;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}